/*==header
===========*/
body{
	overflow-y:hidden;
}
#header{
	 background-color: #479CEB; 
    height: 80px;
   	width:100%;
  
}
#header h3 a{
	width: 200px;	
	font-size:30px;
	 height: 80px;
	 text-align: center;
	 line-height: 80px;
	  color: #fff;
      display: block;
      margin: 0 auto;
}

/*==left
============*/
#left{
	width:200px;
	float:left;
	background-color: #f4f8fb;
	overflow-x:hidden;
	overflow-y:auto;
	 
}
#left p{
	height: 50px;
	line-height: 50px;
	font-size:20px;
	color: #156fbd;
	 
	cursor: pointer;
}
 
#left p{
	 
	background: url("../images/u1162.png") no-repeat scroll 20px center;
}
#left p a{
	color: #3097D1;
    display: block;
    font-size: 14px;
    padding-left:89px;
  
    display: block;
}
#left p a:hover{
	color:#fff;
	background-color: #3BA1D2;
	  filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5;  
}
 
#left .current{
	background-color: #2680BF;
 
	 
}
#left .current a,#left li.current a{
	color: #fff;
}
#left li.current a:hover{
	border-left:3px solid #156FBF;
	 
	background-color: #2680BF;
}
/*==right
============*/
#right{
	float:left;
	overflow-x: hidden;
	overflow-y: auto;
}
iframe{
	width:100%;
	height:100%;
	border:0 none;
}